
.btnBookingSubmit {
    border-radius:25px;
    background-color:#003d66;
    background-image: linear-gradient(to right, #003d66, 001f33,  #000f1a);
    text-align:center;
    color:white;
    font-size:20px;
    padding-left:40px;
    padding-right:40px;
    height:50px;
    max-width:200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:50px;
}

.btnSend {
    border-radius:25px;
    background-color:#003d66;
    background-image: linear-gradient(to right, #003d66, 001f33,  #000f1a);
    text-align:center;
    color:white;
    font-size:20px;
    padding-left:40px;
    padding-right:40px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:50px;
}

.btnConfirm {
    border-radius:25px;
    background-color:aquamarine;
    text-align:center;
    color:white;
    font-size:20px;
    padding-left:40px;
    padding-right:40px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:50px;
}

.btnBookSlot {
    border-radius:25px;
    background-color:aquamarine;
    text-align:center;
    color:white;
    font-size:20px;
    padding-left:40px;
    padding-right:40px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:50px;
}

.btnLearnMore {
    border-radius:25px;
    background-color:aquamarine;
    text-align:center;
    color:white;
    font-size:20px;
    padding-left:40px;
    padding-right:40px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:50px;
}

