

.NathanPicture {
background-image: url("../../Images/PersonalProfile/NathanPicture.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 250px;
height: 250px;
border-radius: 50%;
border: 2px solid black;
margin-left: auto;
margin-right: auto;
margin-top:75px;
}

.TempPicture {
    background-image: url("../../Images/PersonalProfile/tempimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top:75px;
}