$primary-color: #e058d9;
$secondary-color: #ffd800;
$tertiary-color: d9ef0;


$primary: #e058d9;
$secondary-dark: #BC15B5;
$secondary-light: #ED82E8;
$tertiary-dark: #D035C9;
$tertiary-light: #F8B8F5;